{% extends 'hod_template/base_template.html' %}
{% load static  %}
{% load comments %}
{% load comments_xtd %}
{% load i18n %}


{% block main_content%}

{% if messages %}
{% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container-fluid">
  {% comment %}
    <div class="row  bg-dark">
      <div class="col-2">Title:</div>
      <div class="col-6"> {{ single_assignment.title }} </div>
    </div>
      <div class="row bg-dark">
          <div class="col-2"> Assignment Details:</div>
        <div class="col-6>"> {{ single_assignment.content}} </div>
      </div>
      <div class="row bg-dark">
        <div class="col-2"> Attachment: </div>
        <div class="col-6>">
            <a href="{{ single_assignment.upload.url }}"> {{ single_assignment.upload }}  </a> 
          </div>
      </div>
      <div class="row bg-dark">
          <div class="col-2"> Due Date: </div>
          <div class="col-6">{{single_assignment.due_date }}  </div>
        </div>
        <div class="row bg-dark">
          <div class="col-2"> Class: </div>
          <div class="col-6">{{single_assignment.course }}</div>
        </div>
        <div class="row bg-dark">
          <div class="col-2"> Subject: </div>
          <div class="col-6"> {{single_assignment.subject }} </div>
        </div>
        <div class="row bg-dark">
          <div class="col-2"> Assignment Code: </div>
          <div class="col-6"> {{single_assignment.passcode }} </div> 
        </div>  
    {% endcomment %}
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <ul class="list-group">
          
          <li class="list-group-item d-flex justify-content-between align-items-center"><h4>Assignment Details</h4></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Title:<span>{{ single_assignment.title }} </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Due Date:<span>{{ single_assignment.due_date }} </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><span> {{ single_assignment.content }} </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Class:<span> {{ single_assignment.course }} </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Attachment:<span> {%if single_assignment.upload %} <a href="{{ single_assignment.upload.url }}"> {{ single_assignment.upload }}  </a> {%else%}No Attachment{%endif%} </span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Subject:<span> {{single_assignment.subject }}</span></li>
        </ul>	
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
  <div class="sm-col-8 bg-gradient">
  <form method="POST" action={% url 'delete-assignment' assignment_id %}>
    {% csrf_token %}
     <div class="form-group row justify-content-center mt-4">
      <div class="sm-col-4">
      <button type="button" class="btn btn-white" id="addAss" data-toggle="modal" data-target="#genericModel"><i class="fas fa-edit">Edit</i></button>
      </div>
      <div class="sm-col-4"><button class="btn btn-white" type="submit" name="delete-assignment"><i class="fas fa-trash"></i> Delete
      </button>
      </div>
    </div>
    </div>
  </form>
  </div>
  </div>
   <div>
   
  </div>
</div>
<!-- Modal Structure (edit form server-rendered inside; opened via native Bootstrap toggle) -->
<div class="modal" id="genericModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Edit Assignment' %}</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                  <span class="sr-only">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'student_exam/edit_assignment_inner.html' %}
            </div>
        </div>
    </div>
</div>

<div class="card text-dark link-dark rounded border-warning bg-gradient fs-6 opacity-4 mt-0">
  <div id="comments"></div>
</div>
</div>

{% endblock main_content %}

{% block custom_js %}
{# Extra js for comments module #}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script>
 window.comments_props = {% get_commentbox_props for single_assignment %};
 window.comments_props_override = {
     allow_comments:true,
     allow_feedback: true,
     show_feedback: true,
     allow_flagging: true,
     polling_interval: 5000  // In milliseconds.
 };
</script>
{# NOTE: jQuery, Popper and Bootstrap are already loaded by the base template.
   Re-loading Bootstrap from a CDN here registered the modal plugin a second
   time and left a stuck .modal-backdrop that froze the Edit modal, so those
   duplicate CDN scripts have been removed. #}
<script
  type="text/javascript"
  src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'django_comments_xtd/js/vendor~plugin-2.9.8.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-2.9.8.js' %}"></script>
<script>
$(function() {
  $('[data-toggle="tooltip"]').tooltip({html: true});

  // Edit form is server-rendered inside #genericModel and opened by Bootstrap's
  // native toggle. Init select2 scoped to the modal so its focus-trap doesn't
  // block the dropdown search.
  $('#genericModel').on('shown.bs.modal', function () {
    if ($.fn.select2) {
      $(this).find('select').each(function () {
        if (!$(this).hasClass('select2-hidden-accessible')) {
          $(this).select2({ dropdownParent: $('#genericModel'), width: '100%' });
        }
      });
    }
  });
});
</script>

{% endblock custom_js %}