{% extends 'staff_template/base_template.html' %}
{% load static  %}
{% load i18n %}

{% block custom_css %}

{%endblock custom_css %}
<style type="text/css">
  .loading {
      background: transparent url(/static/students-exam/images/spinner.gif) no-repeat scroll center center;
  }
</style>
{% block page_title %}
  <div class="justify-content-left">Assignments</div>
{% endblock page_title %}
{% block breadcrumb %}
   
  <a id="addAss" href="{% url 'create-assignment' %}" data-target="#genericModel" class="btn btn-success float-right"><i class="fas fa-plus mr-1"></i>Add New Assignment</a>
{% endblock breadcrumb %}
{% block main_content%}

{% if messages %}
{% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

{% if assignments %}
  <div class="container-fluid">
    <div class="row justify-content-center bg-white">
      <div class="col-sm-6 col-md-6">
        {%comment%}
        <form method="GET">
          <div class="input-field input-search offset-s2">
            <i class="material-icons right">search</i>
            {{ search_form }}
          </div>
        </form>
        {%endcomment%}
      </div>
      
      <div class="no-assignment">
          <table id="exams" class="striped responsive-table table-bordered table striped">
          <thead class="bg-secondary">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Upload</th>
                <th>Date Created</th>
                <th>Due date</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Submissions</th>
            </tr>
          </thead>

          <tbody>
            {% for assignment in assignments %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'assignment-detail' assignment.id %}">{{ assignment.title }}</a></td>
                
                <td> {% if assignment.upload %}<a href="{{ assignment.upload.url }}">{{ assignment.upload}}</a>{%endif%}</td>
                <td>{{ assignment.created_at }}</td>
                <td>{{ assignment.due_date }}</td>
                <td>{{ assignment.course }}</td>
                <td>{{ assignment.subject }}</td>
                <td><a href="{% url 'submissions' assignment.id %}">{{ assignment.submissions.count }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination-div">
        {% if assignments.has_other_pages %}
          <ul class="pagination">
            {% if assignments.has_previous %}
              <li class="waves-effect"><a href="?page={{ assignments.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
              <li class="disabled"><span><i class="material-icons">chevron_left</i></span></li>
            {% endif %}
            {% for i in assignments.paginator.page_range %}
              {% if assignments.number == i %}
                <li class=" waves-effect active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if assignments.has_next %}
              <li class="waves-effect"><a href="?page={{ assignments.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
              <li class="disabled"><span><i class="material-icons">chevron_right</i></span></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
      <!-- <div class="col sm-6">
        <a id="addAss" data-target= "#create_assignment" data-toggle="modal" href="{% url 'create-assignment' %}" ><i class="fas fa-plus">Add</i></a>
      </div> -->
    </div>
  </div>
  <div>

{% else %}
  <div class="body">
    <div class="">
      <div class="row">
        <div class="col sm-6">
          <a id="addAss" href="{% url 'create-assignment' %}" data-target="#genericModel" class="btn btn-success"><i class="fas fa-plus mr-1"></i>Add New Assignment</a>
        </div>
       
      <div class="no-assignment">
        <p> No assignment created yet </p>
      </div>
    </div>
  </div>
{% endif %}

<!-- Modal Structure (form is loaded via AJAX by utils.js) -->
<div class="modal fade" id="genericModel" tabindex="-1" role="dialog" aria-labelledby="genericModelTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="genericModelTitle">
          <i class="fas fa-file-signature mr-2"></i>{% trans 'Create Assignment' %}
        </h4>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block custom_js %}
<script src="{% static 'plugins/Datatables/datatables.min.js' %}"></script>
<script src="{% static 'students-exam/js/utils.js' %}"></script>

<script>
  (function ($) {
    $('.clickable-row').css('cursor', 'pointer');
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });

    if ($('#exams').length) {
      $('#exams').DataTable({
        select: false
      });
    }
    // The Create Assignment modal is driven entirely by utils.js (AJAX load +
    // submit, select2 init, backdrop hygiene). No inline modal wiring needed.
  })(jQuery);
</script>
{% endblock custom_js %}