{% extends 'hod_template/base_template.html' %}
{% load static  i18n %}


{% block page_title %}Submission Details{% endblock %}

{% block main_content%}

{% if messages %}
{% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col col-12">
       <h4> Submission Details </h4>
    </div>
     <div class="col s12">
       <p>UUID: {{ single_submission.matric_number | truncatechars:10 }} </p>
    </div>
    <div class="col s12">
      <p> Upload: {{ single_submission.upload }} </p> </div>
    <div class="col s12">
      <p> Submission Date: {{ single_submission.submitted_at }} </p> 
    </div>
  </div>
  <form method="POST" action={% url 'delete-submission' id=submission_id %}>
    {% csrf_token %}
    <div class="edit-delete">
      <a class=" btn btn-primary" id="addAss" data-target="#genericModel" href="{% url 'edit-submission' single_submission.id  %}" ><i class="fas fa-edit mr-1"></i>Edit</a>
      <button class="btn btn-danger" type="submit" name="delete-submission">
        <i class="fas fa-trash">Delete</i>
      </button>
    </div>
  </form>
  <!-- Modal Structure -->
  {% include 'student_exam/modaldiv.html' with title='Edit Submission' %}
  </div>
</div>
{% endblock %}

{% block custom_js %}
{# Bootstrap is provided by base_template.html; the legacy BS2 modalmanager plugin
   conflicts with BS4 modals, so it is intentionally not loaded here. #}
<script src="{% static 'students-exam/js/utils.js' %}"></script>


{% endblock custom_js %}