{% extends 'hod_template/base_template.html' %}
{% load customfunction %}
{% load static %}
{% block custom_css %}
 <link rel="stylesheet" href="{% static 'extra/css/store.css' %}">
 {% endblock custom_css %}

{% block main_content %}
			<div class="row">
				{% for item in book %}
				<div class = 'col-sm-3'>
					<div class="book-wrapper text-center">
						<div class="coverpage">
							{% if item.coverpage %}
								<img src="{{ item.coverpage.url }}" class=""/>
								{% else %}
								<div><h6> {{ item.title }} </h6></div>
							{% endif %}
						</div>
						<a href="{% url 'store:book' id=item.id %}">{{ item.title }}</a>
						<a href="#">{{ item.author }}</a>
						{% comment %}<div class="rating">
							{{ item.totalrating|averagerating:item.totalreview }}
							<span class="totalrating">{{ item.totalreview|add:-1 }}</span>
						</div> {% endcomment %}
						<p> {{ item.price }}</p>
					{% comment %}	<button class="btn btn-danger" id="addTocart" data-book-id="{{ item.id }}">
								<i class="fa fa-shopping-cart""></i>Add to cart
						</button> {%endcomment%}
					</div>
				</div>
				{% endfor %}

			</div>
			{% if book|length > 0 %}
			<div class="d-pagination">
			    <ul class="pagination">
				{% if book.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page=1">First</a>
					</li>								
					<li class="page-item">
						<a class="page-link" href="?page={{ book.previous_page_number }}">Previous</a>
					</li>
				{% endif %}
				{% for ord in book.paginator.page_range %}
					{% if book.number == ord %}
						<li class="page-item active">
							<span class="page-link">{{ ord }}
								<span class="sr-only">(current)</span>
							</span>
						</li>
					{% elif ord > book.number|add:'-3' and ord < book.number|add:'3' %}
						<li class="page-item">
							<a class="page-link" href="?page={{ ord }}">{{ ord }}</a>
						</li>

					{% endif %}

				{% endfor %}
				 {% if book.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ book.next_page_number }}">Next</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ book.paginator.num_pages }}">Last</a>
					</li>
				{% endif %}
			    </ul>
			</div>
			{% else %}
			<h3 class="text-center mt-5">There are no books Found.</h3>
			{% endif %}	

{% endblock main_content %}

{% block custom_js %}
	<script src="{% static 'extra/skdslider.min.js' %}"></script>
	<script src="{% static '/extra/bootstrap.min.js' %}"></script>
	<script src="{% static '/jquery-touchspin/js/jquery.bootstrap-touchspin.min.js' %}"></script>
	<script src="{% static '/extra/book-store.js' %}"></script>
{% endblock custom_js %}
