#color-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements style="z-index: 4;"*/
    cursor: pointer; /* Add a pointer on hover */
    
 }

 .bg-overlay{
    background-image: url(../css/image/bg.jpg);  
    box-shadow:
        3em 3em 3em rgba(0, 132, 255, 0.8),
             0 0  0 5px rgba(240, 239, 237, 0.8),
             3em 3em 3em rgba(20, 14, 2, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0.4;

    font-family:Lucida Handwriting;;
 }