{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Attendace Sheet
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

           
            
            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
            {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Class Attendace Sheet </h3>
                        </div> <!--header end-->
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                <th>Class</th>
                                <th>Attendace Sheet</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if classes %}
                                <tr>
                                    <td>{{ classes.course_name }}</td>
                                    <td>
                                            <a class="btn btn-primary" href="{% url 'attendance_class' classes.id %}" role="button">Enter Attendance</a>
                                           {% comment %} <!-- <a class="btn btn-danger" href="{% url 't_student' %}">View Students</a> --> {% endcomment %}
                                    </td>
                                </tr>
                                {% else %}
                                        <p>No Class Assigned To You Yet</p>
                                {% endif %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}