{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Edit {{ staff.admin }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <!-- general form elements -->
                    <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Staff</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_staff_save' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" value="{{ staff.admin.email }}">
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" value="{{ staff.admin.username }}">
                            </div>

                            {% comment %} <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" value="{{ staff.admin.password }}">
                            </div> {% endcomment %}

                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{{ staff.admin.first_name }}">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{{ staff.admin.last_name }}">
                                <input type="hidden" name="staff_id" value="{{ staff.admin.id }}" />
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" name="address">{{ staff.address }}</textarea>
                            </div>

                            <div class="form-row align-items-center">
                                <div class="col-3">
                                    <label class="" for="id_contact">Contact Number</label>
                                    <input type="number" class="form-control" name="contact" placeholder="Contact Number" value="{{staff.contact_number}}" id="id_contact">
                                </div>
                               
                                    <div class="col-3">
                                        <label class="" for="id_accno">Account Number</label>
                                        <input type="text" class="form-control" name="accno" placeholder="Account No" id="id_accno" value="{{staff.bank_acc_no}}">
                                    </div>
                                    <div class="col-3">
                                        <label class="" for="id_bank">Bank</label>
                                        <select class="form-control" name="bank" placeholder="Bank">
                                            <option value={{staff.bank.id}}>{{staff.bank}} </option>
                                            {% for bank in banks %}
                                               
                                                <option value="{{ bank.id }}">{{bank}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label class="" for="id_ssno">Social Security No</label>
                                        <input type="text" class="form-control" name="ssno" placeholder="Social Security No" id="id_ssno" value="{{staff.ss_no}}">
                                    </div>
                            </div>

                          

                            
                            <div class="form-row align-items-center">
                                <div class="col sm-6">
                                    <label class="" for="id_bank">Role/Designation</label>
                                    <select class="form-control" name="role" placeholder="Role">
                                        <option value="{{staff.role_id}}">{{staff.role}}</option>
                                        {% for role in roles %}
                                           
                                            <option value="{{ role.id }}">{{role}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="file-field input-field col sm-6">
                                    <label for="signature">Signature</label>
                                    <div class="file-path-wrapper col sm-6">
                                    <input type="file" placeholder="Upload a signature" name="signature" ><a>{{staff.signature.url}}</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-success">Update Staff</button>
                        {% include 'cancel_button.html'%}
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}