{% extends 'hod_template/base_template.html' %}
{% load static %}
{% load customfunction %}

{% block page_title %}
    Manage Students
{% endblock page_title %}

{% block breadcrumb %}
{% if user.user_type == '1' %}
<a class="btn btn-primary" href="{% url 'add_student' %}" role="button">+ New Student</a>&nbsp;
{% endif %}
<a class="btn btn-success" href="#" onclick="window.print()" style="text-align:right; float:right;color:white"><strong>Get PDF Copy</strong></a></a>
<!-- <a class="btn btn-primary" href="{% url 'bulk-invoice' %}"><i
    class="fas fa-upload"></i> Bulk Invoice</a> -->
{% endblock breadcrumb %}

{% block main_content %}
{% include 'status_message.html' %}

<section class="content">
        <div class="container-fluid">
           
            <div class="row justify-content-center bg-light">

                <div class="col-sm-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Student Details</h3>
                            {%comment %}
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                            {%endcomment%}
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table id="student_table" class="table-sm table-hover table-bordered table-striped text-nowrap">
                            <thead class="bg-secondary">
                                <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Profile Pic</th>
                                <th>Start Year</th>
                                <th>End Year</th>
                                <th>Class</th>
                                <th>Last Login</th>
                                <th>Date Joined</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr class='clickable-row' data-href="{% url 'student_detail_view' pk=student.id %}">
                                <td>{{ student.id| idify}}</td>
                                <td>{{ student.admin.first_name }}</td>
                                <td>{{ student.admin.last_name }}</td>
                                <td>{{ student.admin.username }}</td>
                                <td>{{ student.admin.email }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.gender }}</td>
                                <td> <img src="{{ student.profile_pic }}" style="width: 60px; height: 50px;" /> </td>
                                <td>{{ student.session_year_id.session_start_year }}</td>
                                <td>{{ student.session_year_id.session_end_year }}</td>
                                <td>{{ student.course_id.course_name }}</td>
                                <td>{{ student.admin.last_login }}</td>
                                <td>{{ student.admin.date_joined }}</td>
                                <td>
                                    <a href="{% url 'edit_student' student.admin.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_student' student.admin.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}

<script src="{% static 'plugins/Datatables/datatables.min.js' %}"></script>

<script>
  (function ($) {
    $('.clickable-row').css('cursor', 'pointer');
    $(".clickable-row").click(function () {
      window.location = $(this).data("href");
    });
  })(jQuery)

   $('#student_table').DataTable({
    select: false
    });

</script>


{% endblock custom_js %}