{% load static %}

<aside class="main-sidebar sidebar-dark-secondary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/netzac_logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">NetZac LLC</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/bperson.png' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                </p>
              </a>
            </li>
            <!-- <li class="nav-header">Person Registry</li> -->
            <li class="nav-item has-treeview">
                <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                  <p>Person Registry  <i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">           
                  <!-- <li class="nav-item">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Add Staff
                      </p>
                    </a>
                  </li> -->
                  <li class="nav-item">
                    {% url 'manage_staff' as manage_staff %}
                    {% url 'edit_staff' staff_id=id as edit_staff %}
                    <a href="{{ manage_staff }}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                      <i class="nav-icon fas fa-chalkboard-teacher"></i>
                      <p>
                        Staff
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url 'staff_feedback_message' as staff_feedback_message %}
                    <a href="{{ staff_feedback_message }}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Staff Inbox
                      </p>
                    </a>
                  </li>
      
                 
                  <li class="nav-item">
                    {% url 'staff_leave_view' as staff_leave_view %}
                    <a href="{{ staff_leave_view }}" class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Staff Leave
                      </p>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    {% url 'add_student' as add_student %}
                    <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Add Student
                      </p>
                    </a>
                  </li> -->
                  <li class="nav-item">
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' student_id=id as edit_student %}
                    <a href="{{ manage_student }}" class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                      <i class="nav-icon fas fa-user-graduate"></i>
                      <p>
                        Student
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url 'student_feedback_message' as student_feedback_message %}
                    <a href="{{ student_feedback_message }}" class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                       Students Inbox
                      </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    {% url 'student_leave_view' as student_leave_view %}
                    <a href="{{ student_leave_view }}" class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                      <i class="nav-icon fas fa-th"></i>
                      <p>
                        Student Leave
                      </p>
                    </a>
                  </li>
                </ul>
            </li>

            <!-- <li class="nav-header">Results</li> -->
            <li class="nav-item has-treeview">
                <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                  <p>Students Results  <i class="fas fa-angle-left right"></i></p>
                </a>
                <ul class="nav nav-treeview">   
                  
                  <li class="nav-item">
                    {% url 'ex-result-class' as ex_result_class %}
                    <a href="{{ ex_result_class }}" class="nav-link {% if request.path == ex_result_class %} active {% endif %}">
                      <i class="nav-icon fas fa-running"></i>
                      <p>
                       Class Exercise Entry
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    {% url 'select-result-class' as select_result_class %}
                    <a href="{{ select_result_class }}" class="nav-link {% if request.path == select_result_class %} active {% endif %}">
                      <i class="nav-icon fas fa-money-bill-alt"></i>
                      <p>
                       Exam Results Entry
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    {% url 'cir-class' as select_cdi_class %}
                    <a href="{{ select_cdi_class }}" class="nav-link {% if request.path == select_cdi_class %} active {% endif %}">
                      <i class="nav-icon fas fa-thumbs-up"></i>
                      <p>
                       Conduct Interest... Entry
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    {% url 'find-result' as find_result %}
                    <a href="{{ find_result }}" class="nav-link {% if request.path == find_result %} active {% endif %}">
                      <i class="nav-icon fas fa-list-alt"></i>
                      <p>
                        Term Reports
                      </p>
                    </a>
                  </li>

                  
                  <li class="nav-item">
                    {% url 'promote-students' as promote_students %}
                    <a href="{{ promote_students }}" class="nav-link {% if request.path == promote_students %} active {% endif %}">
                      <i class="nav-icon fas fa-list-alt"></i>
                      <p>
                        Promote Students
                      </p>
                    </a>
                  </li>
                </ul>
            </li>
            <!-- <li class="nav-header">Assigments Creation</li> -->
          <li class="nav-item has-treeview">
              <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                <p>Students Assignments  <i class="fas fa-angle-left right"></i></p>
              </a>
              <ul class="nav nav-treeview">     
                <li class="nav-item">
                  {% url 'dashboard' as assignments_dashboard %}
                  <a href="{{ assignments_dashboard }}" class="nav-link {% if request.path == assignments_dashboard %} active {% endif %}">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>
                      Assignments Dashboard
                    </p>
                  </a>
                </li>
                
              </ul>
          </li>
           <!-- <li class="nav-header">Attendance Module</li> -->
           <li class="nav-item has-treeview">
            <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
              <p>Attendance Module  <i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">     
              <li class="nav-item">
                {% url 'attendance' as attendance %}
                <a href="{{ attendance }}" class="nav-link {% if request.path == attendance %} active {% endif %}">
                  <i class="nav-icon fas fa-tasks"></i>
                  <p>
                    Attendance Sheet
                  </p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'admin_view_attendance' as admin_view_attendance %}
                <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                  <i class="nav-icon fas fa-calendar-alt"></i>
                  <p>
                    Attendance Report
                  </p>
                </a>
              </li>
              
            </ul>
        </li>
             <!-- <li class="nav-header">General Reports</li> -->
             <!-- <li class="nav-item has-treeview">
              <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                <p>Students Report  <i class="fas fa-angle-left right"></i></p>
              </a>
              <ul class="nav nav-treeview">     
               
              </ul>
          </li> -->
           <!-- <li class="nav-header">School Settings</li> -->
           <li class="nav-item has-treeview">
            <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
              <p>School Settings <i class="fas fa-angle-left right"></i></p>
            </a>
            <ul class="nav nav-treeview">     
              <li class="nav-item">
                {% url 'school-create' as school_create %}
                <a href="{{ school_create }}" class="nav-link {% if request.path == school_create %} active {% endif %}">
                  <i class="nav-icon fas fa-school"></i>
                  <p>
                    Enter Details
                  </p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'school-list' as school_details %}
                <a href="{{ school_details }}" class="nav-link {% if request.path == school_details %} active {% endif %}">
                  <i class="nav-icon fas fa-school"></i>
                  <p>
                    View Details
                  </p>
                </a>
              </li>
            </ul>
        </li>
              <!-- <li class="nav-header">General Settings</li> -->
              <li class="nav-item has-treeview">
                    <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                      <p>General Settings  <i class="fas fa-angle-left right"></i></p>
                    </a>
                  <ul class="nav nav-treeview"> 
                     <!-- Settings for Roles-->
                     <li class="nav-item">
                      {% url 'bank-list' as add_bank %}
                        <a href="{{ add_bank }}" class="nav-link {% if request.path == add_bank %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Bank
                          </p>
                        </a>
                      </li>
                    <!-- <li class="nav-item">
                      {% url 'add_course' as add_course %}
                        <a href="{{ add_course }}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Add Class
                          </p>
                        </a>
                      </li> -->
                    <li class="nav-item">
                      {% url 'manage_course' as manage_course %}
                      {% url 'edit_course' course_id=id as edit_course %}
                      <a href="{{ manage_course }}" class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>
                          Class
                        </p>
                      </a>
                    </li>
                    <!--Setting for class teacher assignment-->
                    <li class="nav-item">
                      {% url 'add_class_teacher' as add_class_teacher %}
                      
                        <a href="{{ add_class_teacher }}" class="nav-link {% if request.path == add_class_teacher %} active {% endif %}">
                          <i class="nav-icon fas fa-chalkboard-teacher"></i>
                          <p>
                            Class To Teacher Mapping
                          </p>
                        </a>
                      </li>
                    <li class="nav-item">
                      {% url 'class_teacher_list' as manage_class_teacher %}
                      {% url 'edit_class_teacher' ct_id=id as edit_class_teacher %}
                      <a href="{{ manage_class_teacher }}" class="nav-link {% if request.path == manage_class_teacher %} active {% endif %} {% if request.path == edit_class_teacher %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>
                          Manage CT Mapping
                        </p>
                      </a>
                    </li>
                      <!-- Settings for Gender-->
                    <li class="nav-item">
                      {% url 'exercises' as add_exercise %}
                        <a href="{{ add_exercise }}" class="nav-link {% if request.path == add_exercise %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Class Exercises
                          </p>
                        </a>
                      </li>
                      
                       <!-- Settings for Deductions-->
                       <li class="nav-item">
                        {% url 'deductions-list' as add_deductions %}
                          <a href="{{ add_deductions }}" class="nav-link {% if request.path == add_deductions %} active {% endif %}">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                              Deductions
                            </p>
                          </a>
                        </li>

                       <!-- Settings for Earnings-->
                       <li class="nav-item">
                        {% url 'earnings-list' as add_earnings %}
                          <a href="{{ add_earnings }}" class="nav-link {% if request.path == add_earnings %} active {% endif %}">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                              Earnings
                            </p>
                          </a>
                        </li>
                      
  
                    <!-- Settings for Gender-->
                    <!-- <li class="nav-item">
                      {% url 'add_gender' as add_gender %}
                        <a href="{{ add_gender }}" class="nav-link {% if request.path == add_gender %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Add Gender
                          </p>
                        </a>
                      </li> -->
                    <li class="nav-item">
                      {% url 'manage_gender' as manage_gender %}
                      {% url 'edit_gender' gender_id=id as edit_gender %}
                      <a href="{{ manage_gender }}" class="nav-link {% if request.path == manage_gender %} active {% endif %} {% if request.path == edit_gender%} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>
                          Gender
                        </p>
                      </a>
                    </li>
                    <!-- Gender settings end here-->
                      <!-- Settings for Gradebook-->

                    <li class="nav-item has-treeview">
                      <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                        <p>Grade Books  <i class="fas fa-angle-left right"></i></p>
                      </a>
                      <ul class="nav nav-treeview">
                        <li class="nav-item">
                          {% url 'gradebook' as add_gradebook %}
                            <a href="{{ add_gradebook }}" class="nav-link {% if request.path == add_gradebook %} active {% endif %}">
                              <i class="nav-icon fas fa-th"></i>
                              <p>
                                Subject Grade Book 
                              </p>
                            </a>
                          </li>
                       <!-- Settings for OverallGradebook-->
                        <li class="nav-item">
                          {% url 'overall-gradebook' as add_gradebook %}
                            <a href="{{ add_gradebook }}" class="nav-link {% if request.path == add_gradebook %} active {% endif %}">
                              <i class="nav-icon fas fa-th"></i>
                              <p>
                                Overall Grade Book
                              </p>
                            </a>
                          </li>
                      </ul>
                    </li> 
                      <!-- Gradebook settings end here-->
                   
                       <!-- Settings for Roles-->
                       <li class="nav-item">
                        {% url 'role-list' as add_role %}
                          <a href="{{ add_role }}" class="nav-link {% if request.path == add_role %} active {% endif %}">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                              Role/Designation
                            </p>
                          </a>
                        </li>
                      
                    <!-- <li class="nav-item">
                      {% url 'add_subject' as add_subject %}
                      <a href="{{ add_subject }}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                          Add Subject
                        </p>
                      </a>
                    </li> -->
                    <li class="nav-item">
                      {% url 'manage_session' as manage_session %}
                      {% url 'edit_session' session_id=id as edit_session %}
                      <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                          Session
                        </p>
                      </a>
                    </li>
                    
                    <li class="nav-item">
                      {% url 'manage_subject' as manage_subject %}
                      {% url 'edit_subject' subject_id=id as edit_subject %}
                      <a href="{{ manage_subject }}" class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                          Subject
                        </p>
                      </a>
                    </li>
        
                    <!-- <li class="nav-item">
                      {% url 'add_session' as add_session %}
                      <a href="{{ add_session }}" class="nav-link {% if request.path == add_session %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                          Add Session
                        </p>
                      </a>
                    </li> -->
                   
                    <!-- Settings for Earnings-->
                    <li class="nav-item">
                      {% url 'taxtable' as add_taxtable %}
                        <a href="{{ add_taxtable }}" class="nav-link {% if request.path == add_taxtable %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Tax Table
                          </p>
                        </a>
                      </li>
                    <li class="nav-item">
                      <a href="{% url 'terms' %}" class="nav-link">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>
                          Terms
                          <i class="right"></i>
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'feetype-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>
                          Fee Types
                          <i class="right"></i>
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'store:stationery-list' %}" class="nav-link">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>
                          Stationery
                          <i class="right"></i>
                        </p>
                      </a>
                    </li>
                  </ul>
              </li>
            
            <li class="nav-header">Other Departments</li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Accounts
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  {% url 'account-dashboard' as dashboard %}
                  <a href="{{ dashboard }}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                     Acounts Dashboard
                    </p>
                  </a>
                </li>
                <!-- Payroll --> 
                <li class="nav-item">
                  {% url 'payroll-list' as payroll_list %}
                  <a href="{{ payroll_list }}" class="nav-link {% if request.path == payroll_list %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Payroll
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  {% url 'invoice-list' as invoice_list %}
                  <a href="{{ invoice_list }}" class="nav-link {% if request.path == invoice_list %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Student Bills
                    </p>
                  </a>
                </li>
                
                <li class="nav-item has-treeview">
                  <a href="#"" class="nav-link"><i class="nav-icon fas fa-copy"></i>
                    <p>Reports <i class="fas fa-angle-left right"></i></p>
                  </a>
                <ul class="nav nav-treeview"> 
                  <li class="nav-item">
                    {% url 'report-by-range' as report_by_range %}
                      <a href="{{ report_by_range }}" class="nav-link {% if request.path == report_by_range %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                          By Date Range
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      {% url 'report-by-month' as report_by_month %}
                        <a href="{{ report_by_month }}" class="nav-link {% if request.path == report_by_month %} active {% endif %}">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            By Month
                          </p>
                        </a>
                      </li>
                </ul>
                </li>

              </ul>
            </li>
            <!-- Library section-->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Library
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                   {% url 'lib:dashboard' as dashboard %} 
                  <a href="{{ dashboard }}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Libary dashboard
                    </p>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Book Store-->
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Book Store
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  {% url 'store:index' as dashboard %}
                  <a href="{{ dashboard }}" class="nav-link {% if request.path == dashboard %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Store Place
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'store:requireditem-class' as requiredclass %}
                  <a href="{{ requiredclass }}" class="nav-link {% if request.path == requiredclass %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                     Class Requirements
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  {% url 'store:requireditem-list' as requirements %}
                  <a href="{{ requirements }}" class="nav-link {% if request.path == requirements %} active {% endif %}">
                    <i class="nav-icon fas fa-bars"></i>
                    <p>
                      Requirements Lists
                    </p>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>