{% extends 'hod_template/base_template.html' %}


{% block title %}
{% endblock title %}


{% block main_content %}

<section class="content">
  <div class="container-fluid">

<form action="" method="POST">
  {% csrf_token %}

  <div class="alert">
    <p>Are you sure you want to delete invoice "{{ object }}"?</p>
    <p>All receipts to this invoice will be deleted as well</p>
  </div>

  <input type="submit" class="btn btn-primary" value="Confirm">
  <input type="button"  class="btn btn-secondary" value="Cancel" onclick="window.history.back()">


</form>

</div>
</section>

{% endblock main_content %}
