{% extends 'hod_template/base_template.html' %}
{% load humanize %}
{% load static %}

{% block main_content %}
{% include 'status_message.html' %}
<section class="content">
<div class="container-fluid">
<div class="row">
  <div class="col-8">
    <form id="paymentForm" action="" method="POST">
      {% csrf_token %}

      {% include 'form_snippet.html' %}
      <input type="hidden" value={{request.user.email}} id="email-address">
      <input type="hidden" value={{invoice.id}} id="invoice-id">
      <input type="submit" class="btn btn-primary" value="Add Payment">
      <input type="button"  id="payOnlineBtn" class="btn btn-secondary" onclick="payOnline()" data-url="{% url 'invoice-list' %}" value="PayOnline">

    </form>
  </div>

  <div class="col-4">
    <div class="alert alert-info" role="alert">
      <h3>INVOICE</h3>
      <p>{{invoice | upper}}</p>
      <hr>
      <ul>

        <li>Session: {{ invoice.session }}</li>
        <li>Term: {{ invoice.term }}</li>
        <li>Class: {{ invoice.class_for }}</li>
        <li>Total Amount Payable: {{invoice.total_amount_payable | intcomma }}
        </li>
        <li>Total Amount Paid: {{ invoice.total_amount_paid | intcomma }}</li>
        <li><strong>Balance: {{invoice.balance | intcomma }}</strong></li>
      </ul>
    </div>
  </div>
</div>
</div>
</section>



{% endblock main_content %}

{% block custom_js %}
  <!-- <script src="https://js.paystack.co/v2/popup.js"></script> -->
  <script src="{% static '/extra/popup.js' %}"> </script>
  <script src="{% static '/extra/payment-gateway.js' %}"> </script>

  <script>
  

    // $(function(){

    function payOnline() {
        callback_url= document.getElementById('payOnlineBtn').getAttribute('data-url')
        invoice =document.getElementById('invoice-id').value
        const pt = new PaystackPop();
        pt.newTransaction({
        key: 'pk_test_3d5f8b0a0a0a186389674dec3ee907cb471c319d', // Replace with your public key
        email: document.getElementById('email-address').value,
        amount: document.getElementById('id_amount_paid').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
        currency: 'GHS', // Use GHS for Ghana Cedis or USD for US Dollars
        //ref: 'YOUR_REFERENCE', // Replace with a reference you generated
      onSuccess: (transaction) => {
        //this happens after the payment is completed successfully
        var ref = transaction.reference;
          alert('Thank you! Your payment was successful! Reference: ' + ref );
        // Make an AJAX call to your server with the reference to verify the transaction
          $.ajax({
            url: '../ajax/verify-online-payment/' + ref + '/' + invoice + '/',
            method: 'post',
            error: err => {
			        console.log();
			        alert("An error occured");
		        },
            success: function (data) {

              window.location= callback_url;
              
            }
        });
      },
      onCancel: () => {
      alert('Transaction was not completed, window closed.');
      },
  });
 
}


      // payOnline2()

    


 
   
  </script>

{% endblock custom_js %}