{% extends 'hod_template/base_template.html' %}
{% load static %}




{% block breadcumb %}
<li><a href="{% url 'students:student_list' %}">{{ panel_name }}</a></li>
<li class="active">{{ panel_title }}</li>
{% endblock breadcumb %}

{% block main_content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <h5>{{ panel_title }}</h5>
            </div>
        </div>
        <div class="panel-body">
            <form method="post" class="form">{% csrf_token %}
                <h3>Are you sure you want to delete school "{{ object }}"  ?</h3>
                <input type="submit" value="Confirm" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}